<div class="hero img-responsive">
  <br />
  <div class="frosty col-xs-12 text-center">
    <h1>Dog training from the pros</h1>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
  </div>
</div>