@import 'https://fonts.googleapis.com/css?family=Cabin:400,400i|Lobster+Two:700i,400i';

.navbar {
  border-radius: 0;
  border: none;
  font-family: Cabin;
  font-size:14px;
  box-shadow: 0px 1px 3px #2a2a2a;
  background:url('congruent_pentagon.png');
}

.navbar-inverse a.navbar-brand {
  font-family: Lobster Two;
  font-weight: 700;
  font-style: italic;
  font-size: 28px;
  color: #7A4E00;
}

.navbar-inverse a.navbar-brand:hover {
  color: #5C3B00;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.hero {
  background: url('hero.jpg') center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 390px;
  position: relative;
}

.frosty h1 {
  font-family: Lobster Two;
  font-weight: 400;
  font-style: italic;
  font-size: 38px;
  color: white;
  margin-top:15px;
}

.frosty .btn {
  font-family: Lobster Two;
  font-weight: 700;
  font-style: italic;
  background: url('congruent_pentagon.png');
  border: none;
  color: #7A4E00;
  margin-bottom:10px;
}

.frosty {
  background:rgba(0,0,0, 0.25);
  color:white;
  position: absolute;
  bottom: 0px;
}

body {
  background: url('halftone.png');
  font-family: Cabin;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: rgba(250,250,250,.75);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:20px;
  margin-top:20px;
  border-radius:10px;
}

.booyah-box h2 {
  font-family:Lobster Two;
  font-weight: 700;
  font-style: italic;
  color: #7A4E00;
}

.clr {
  clear:both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #ffeeee;
  border-radius: 3px;
  padding: 8px;
  margin: 10px;
}

h1, h2, h3{
  font-family: Lobster Two;
  font-weight: 700;
  font-style: italic;
}

.lesson {
  background-color:rgba(250,250,250,.5);
  margin-top:10px;
  height:130px;
}

.lesson a b {
  color: black;
  font-family: Cabin;
  font-size: 15px;
}

.lesson a {
  color:black;
}

.lesson a:hover {
  text-decoration:none;
}

.section {
  background:url('halftone.png');
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.section h3 {
  color: #7A4E00;
}